
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489019617859'); /* IE9*/
  src: url('iconfont.eot?t=1489019617859#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489019617859') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489019617859') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489019617859#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:120px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pic:before { content: "\e613"; }

.icon-icontz:before { content: "\e60c"; }

.icon-sms:before { content: "\e617"; }

.icon-player:before { content: "\e633"; }

.icon-wall:before { content: "\e6f4"; }

.icon-qr:before { content: "\e62f"; }

.icon-amy-user-search:before { content: "\ed1a"; }

.icon-srcip:before { content: "\e609"; }

